<div class="row">
  <div class="col">
    <h2>Questions</h2>
  </div>
  <div class="col">
    <a class="btn btn-success" routerLink="/question/new">New</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <a *ngFor="let question of questions"
         class="list-group-item"
         (click)="onSelect(question)"
         [routerLink]="['/question', question.id]"
         [class.active]="question === selectedQuestion">
        <span>{{question.question}}</span>
        <p><small>{{question.answer}}</small></p>
      </a>
    </ul>
  </div>
</div>

<!--<question [question]="selectedQuestion"></question>-->
